<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Azurhyan : <span th:remove="tag" th:text="${partie}">partie</span></title>
	<link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}}" method="get">
		<button type="submit"> &#127968; </button> 
	</form>
	
		<aside>
		<table>
			<tbody>
				<tr>
					<td>
						<form action="#" th:action="@{'/azurhyan/'+${partie}}" method="get">
							<button type="submit">Retourner à la page principale</button> 
						</form>
					</td>
					<td>
						<form action="#" th:action="@{'/azurhyan/'+${partie}+'/'+${numPerso}}" method="get">
							<button type="submit">Retourner à la fiche de perso</button> 
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</aside>
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}+'/'+${numPerso}+'/attaque'}" th:object="${attaque}" method="post">
		<input type="hidden" th:field="*{partie}"/>
	
	<h1> Attaque : </h1>
	
	<h3>Cibles de l'attaque : </h3>
	
	<table style="border: solid;">
		<thead>
			<tr style="border: solid;">
				<td style="border: solid;">Attaquant(s)</td>
				<td style="border: solid;">Attaqué(s)</td>
				<td style="border: solid;">Personnages </td>
			</tr>
		</thead>
		<tbody>
			<tr style="border: solid;">
				<td style="border: solid;">
					<table>
						<tr th:each="attaquant, itemStat : *{attaquantList}">
							<td>
								<span th:text="*{attaquantList[__${itemStat.index}__].cibleNom}"> nom </span>
								<input type="hidden" th:field="*{attaquantList[__${itemStat.index}__].cibleId}"/>
								<input type="hidden" th:field="*{attaquantList[__${itemStat.index}__].cibleNom}"/>
								<input th:type="${numPerso==0 ? 'number' : 'hidden'}" th:field="*{attaquantList[__${itemStat.index}__].de}"/>
							</td>
		                    <td> <button type="submit" name="removeAttacker" th:value="${itemStat.index}"> &#x1F872; </button> </td>
						</tr>					
					</table>
					<div th:if="*{#lists.size(attaquantList) > 1}"> <em>
						<br/>
						Attaques groupés : +
						<span th:remove="tag" th:text="*{#lists.size(attaquantList)*2}"></span> tch
					</em> </div>
				</td>
				<td style="border: solid;">
					<table th:with="n=*{#lists.size(cibleList)}">
						<tr th:each="cible, itemStat : *{cibleList}">
		                    <td> <button type="submit" name="addAttacker" th:value="${itemStat.index}"> &#x1F870; </button> </td>
							<td>
								<span th:text="*{cibleList[__${itemStat.index}__].cibleNom}"> nom </span>
								<input type="hidden" th:field="*{cibleList[__${itemStat.index}__].cibleId}"/>
								<input type="hidden" th:field="*{cibleList[__${itemStat.index}__].cibleNom}"/>							
								<input th:type="${numPerso==0 ? 'number' : 'hidden'}" th:field="*{cibleList[__${itemStat.index}__].de}"/>							
							</td>
							<td th:if="${n > 1}"><em>
								(-
								<span th:unless="*{lePlusPossible}" th:remove="tag" th:text="${n*2}"></span>
								<span th:if="*{lePlusPossible}" th:remove="tag" th:text="${itemStat.count*2}"></span>
								 tch / -
								<span th:unless="*{lePlusPossible}" th:remove="tag" th:text="${n}"></span>
								<span th:if="*{lePlusPossible}" th:remove="tag" th:text="${itemStat.count}"></span>
								 for)
							</em></td>
		                    <td> <button type="submit" name="removeTarget" th:value="${itemStat.index}"> &#x1F872; </button> </td>
						</tr>					
					</table>
				</td>
				<td style="border: solid;">
					<table>
						<tr th:each="row, rowStat : *{autreList}">
		                    <td> <button type="submit" name="addTarget" th:value="${rowStat.index}"> &#x1F870; </button> </td>
							<td>
								<span th:text="*{autreList[__${rowStat.index}__].cibleNom}"> nom </span>
								<input type="hidden" th:field="*{autreList[__${rowStat.index}__].cibleId}"/>
								<input type="hidden" th:field="*{autreList[__${rowStat.index}__].cibleNom}"/>
								<input type="hidden" th:field="*{autreList[__${rowStat.index}__].de}"/>							
							</td>
							<th:block th:each="perso : ${persos}" th:if="${perso.id==row.cibleId}">
								<td>
									<table style="border-collapse: collapse;margin: 0;">
										<tr><td class="carre c11" th:style="${perso.bles360 > 0 ? 'background-color: red;' : ''}"></td>
											<td class="carre c12" th:style="${perso.bles360 > 270 ? 'background-color: red;' : ''}"></td>
											<td class="emptyCell"></td>
											<td class="carre c11" th:style="${perso.choc360 > 0 ? 'background-color: grey;' : ''}"></td>
											<td class="carre c12" th:style="${perso.choc360 > 270 ? 'background-color: grey;' : ''}"></td>
										</tr>
										<tr><td class="carre c21" th:style="${perso.bles360 > 90 ? 'background-color: red;' : ''}"></td>
											<td class="carre c22" th:style="${perso.bles360 > 180 ? 'background-color: red;' : ''}"></td>
											<td class="emptyCell"></td>
											<td class="carre c21" th:style="${perso.choc360 > 90 ? 'background-color: grey;' : ''}"></td>
											<td class="carre c22" th:style="${perso.choc360 > 180 ? 'background-color: grey;' : ''}"></td>
						</tr>
					</table>
								</td>
								<td>
									&#x1F6E1;<span th:unless="${perso.bouclier}" style="position:relative; left:-0.5em; top:0.1em; font-size: 1.4em;">&frasl;</span>
								</td>
								<td style="text-align:center;">
									<span style="color:green;font-weight: bolder;" th:if="${perso.incapacite == 0}"> &xcirc; </span>
									<span style="color:grey;font-weight: bolder;" th:if="${perso.incapacite == 1}"> &check; </span>
									<span style="color:orange;font-weight: bolder;" th:if="${perso.incapacite == 2}"> &olcross; </span>
									<span style="color:red;font-weight: bolder;" th:if="${perso.incapacite == 3}"> &cross; </span>
								</td>
								<td>H<span th:text="${perso.hand}">0</span></td>
							</th:block>
            		    </tr>						
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	
	<br/>
	<fieldset>
		<legend> Particularités de l'attaque </legend>
		<label>
	  		<input type="checkbox" th:field="*{lePlusPossible}" title="les malus sont à remplacer par du -2/-1 selon nombre d'ennemis"/>
	  		Tir de Masse
  		</label>
<!-- <input type="hidden" th:field="*{lePlusPossible}"/> -->
		<label>
	  		<input type="checkbox" th:field="*{bousculade}" title="-1 niveau de blessure, mais H- temporaire équivalent à niv de blessure +1"/>
	  		Bousculade
  		</label>
		<label>
	  		<input type="checkbox" th:field="*{coupDansLeBouclier}" title="automatiquement paré, mais la parade ne réduit pas la marge de toucher"/>
	  		Coup dans le bouclier
  		</label>
	</fieldset>
	
	<p th:with="d=*{#lists.size(cibleList)},a=*{#lists.size(attaquantList)}">
		<span th:if="${a==0}" class="alert">Il faut au moins 1 attaquant !</span>
		<span th:if="${d==0}" class="alert">Il faut au moins 1 défenseur !</span>
		<span th:if="${d>1 and a>1}" class="alert">On ne peut pas faire groupe contre groupe.</span>
		<button type="submit" th:if="${(d==1 and a>0) or (a==1 and d>0)}">Lancer l'attaque</button> 
	</p>
	</form>	
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}}" method="get">
		<button type="submit">Retour</button> 
	</form>	
		
</body>
</html>