<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Azurhyan : <span th:remove="tag" th:text="${partie}">partie</span></title>
	<link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
	
	<h1> Ici on joue à <span th:remove="tag" th:text="${partie}">partie</span> ! </h1>
	
<table><tr><td valign="top">

	<table>
		<thead>
			<tr>
				<th> Init </th>
				<th> Perso </th>
				<th></th>
				<td> Déf </td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="perso : ${persos}">
				<td><span th:text="${perso.init}"> init </span></td>
				<td><span th:text="${perso.nom}"> nom </span></td>
				<td>
					<form action="#" th:action="@{'/azurhyan/'+${partie}+'/'+${perso.id}}" method="get">
						<button type="submit">Voir combo</button>
					</form>
				</td>
				<td> <span th:if="${perso.deDef != 0}" th:text="${perso.deDef}"> dé de déf </span> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td></td>
				<td> <form action="#" th:action="@{'/azurhyan/'+${partie}+'/defenseReset'}" method="get">
						<button type="submit">Nouveau round</button>
					</form></td>
			</tr>
		</tbody>
	</table>
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}+'/visibilitePerso'}" method="get">
		</br>
		<button type="submit">Cacher/Révéler personnages</button> 
	</form>	
	
</td><td valign="top">
	
	<table>
		<thead>
			<tr>
				<th> Evènements </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="action : ${actions}">
				<td><div th:utext="${action.description}"> action </div></td>
			</tr>
		</tbody>
	</table>

	<form action="#" th:action="@{'/azurhyan/'+${partie}+'/effacerActions'}" method="get">
		<button type="submit" style="float: right;">Effacer les évènements</button> 
	</form>

</td></tr></table>
	
</body>
</html>