<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Azurhyan : <span th:remove="tag" th:text="${partie}">partie</span></title>
	<link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}}" method="get">
		<button type="submit"> &#127968; </button> 
	</form>
	
	<h1> Ici on joue à <span th:remove="tag" th:text="${partie}">partie</span> ! </h1>
	
<table><tr><td valign="top">

	<table>
		<thead>
			<tr>
				<th> Init </th>
				<th> Perso </th>
				<th> bl / # </th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<td> Déf </td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="perso : ${persos}">
				<td><span th:text="${perso.init}"> init </span></td>
				<td><span th:text="${perso.nom}" th:style="${ (perso.bles > 3 || perso.choc > 3) ? 
						  	'text-decoration-line: line-through; background-color: '+perso.couleur+';' : 
						  	'background-color: '+perso.couleur+';'}"> nom </span></td>
				<td> 
					<table style="border-collapse: collapse;margin: 0;">
						<tr><td class="carre c11" th:style="${perso.bles > 0 ? 'background-color: red;' : ''}"></td>
							<td class="carre c12" th:style="${perso.bles > 3 ? 'background-color: red;' : ''}"></td>
							<td class="emptyCell"></td>
							<td class="carre c11" th:style="${perso.choc > 0 ? 'background-color: grey;' : ''}"></td>
							<td class="carre c12" th:style="${perso.choc > 3 ? 'background-color: grey;' : ''}"></td>
						</tr>
						<tr><td class="carre c21" th:style="${perso.bles > 1 ? 'background-color: red;' : ''}"></td>
							<td class="carre c22" th:style="${perso.bles > 2 ? 'background-color: red;' : ''}"></td>
							<td class="emptyCell"></td>
							<td class="carre c21" th:style="${perso.choc > 1 ? 'background-color: grey;' : ''}"></td>
							<td class="carre c22" th:style="${perso.choc > 2 ? 'background-color: grey;' : ''}"></td>
						</tr>
					</table>
				</td>
				<td style="cursor: help;" th:title="${'Dégâts au bouclier : '+perso.nivBcl}">
					&#x1F6E1;<span th:unless="${perso.bouclier}" style="position:relative; left:-0.5em; top:0.1em; font-size: 1.4em;">&frasl;</span>
				</td>
				<td style="text-align:center;">
					<span style="color:green;font-weight: bolder;" th:if="${perso.incapacite == 0}"> &xcirc; </span>
					<span style="color:grey;font-weight: bolder;" th:if="${perso.incapacite == 1}"> &check; </span>
					<span style="color:orange;font-weight: bolder;" th:if="${perso.incapacite == 2}"> &olcross; </span>
					<span style="color:red;font-weight: bolder;" th:if="${perso.incapacite == 3}"> &cross; </span>
				</td>
				<td>H<span th:text="${perso.hand}">0</span></td>
				<td>
					<form action="#" th:action="@{'/azurhyan/'+${partie}+'/'+${perso.id}}" method="get">
						<button type="submit">Voir combo</button>
					</form>
				</td>
				<td> <span th:if="${perso.deDef != 0}" th:text="${perso.deDef}"> dé de déf </span> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td></td>
				<td></td>
				<td></td>
				<td> <form action="#" th:action="@{'/azurhyan/'+${partie}+'/defenseReset'}" method="get">
						<button type="submit">Nouveau round</button>
					</form></td>
			</tr>
		</tbody>
	</table>
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}+'/visibilitePerso'}" method="get">
		</br>
		<button type="submit">Cacher/Révéler personnages</button> 
	</form>	
	
</td><td valign="top">
	
	<table>
		<thead>
			<tr>
				<th> 
					Evènements 
					<span style="cursor: help;" title="Perso attaque (jet d'attaque) cible (jet de défense) : toucher (marge pour toucher), dégâts (marge pour blesser) : dégâts sur le bouclier ; sur la cible ; sur l'armure ;"> &#9432; </span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: right;">
					<form action="#" th:action="@{'/azurhyan/'+${partie}+'/0/attaque'}" method="get">
						<button type="submit">Attaque manuelle</button> 
					</form>
				</td>
			</tr>
			<tr th:each="action, iStat : ${actions}">
				<td th:style="${'background-color: '+action.couleur}">
					<div th:utext="${action.description}"> action </div>
					<div th:if="${action.refAttaque != 0 and action.refAttaque == actions[0].refAttaque and (iStat.last or action.refAttaque != actions[__${iStat.index}__ +1].refAttaque)}" style="text-align: right;">
						<form action="#" th:action="@{'/azurhyan/'+${partie}+'/annulerAttaque'}" method="post" style="display:inline-block;">
							<button type="submit" name="lastAttaque" th:value="${action.refAttaque}" style="display:inline-block;">Annuler dernière attaque</button> 
						</form>
						<form action="#" th:action="@{'/azurhyan/'+${partie}+'/modifierAttaque'}" method="post" style="display:inline-block;">
							<button type="submit" name="lastAttaque" th:value="${action.refAttaque}" style="display:inline-block;">Modifier dernière attaque</button> 
						</form>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<form action="#" th:action="@{'/azurhyan/'+${partie}+'/effacerActions'}" method="get">
		<button type="submit" style="float: right;">Effacer les évènements</button> 
	</form>

</td></tr></table>
	
</body>
</html>