<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Azurhyan : <span th:text="${partie}">partie</span></title>
</head>
<body>
	
	<h1> Voici le combo de <span th:text="${perso.nom}">perso</span> </h1>
	
	<aside>
		<table>
			<tbody>
				<tr>
					<td>
						<form action="#" th:action="@{'/azurhyan/'+${partie}}" method="get">
							<button type="submit">Retourner à la page principale sans enregistrer</button> 
						</form>
					</td>
					<td>
						<form action="#" th:action="@{'/azurhyan/'+${partie}+'/'+${perso.persoId}+'/attaque'}" method="get">
							<button type="submit">Lancer une attaque</button> 
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</aside>
	 
	<form action="#" th:action="@{'/azurhyan/'+${partie}+'/'+${perso.persoId}}" th:object="${perso}" method="post">
	<input type="hidden" th:field="*{partie}"/>
	
	<table>
		<tbody>
			<tr>
				<td>
					Nom : <input type="text" th:field="*{nom}"/> 
				</td>
				<td>
					Joueur : <input type="text" th:field="*{joueur}"/> 
				</td>
				<td>
					Partie : <input type="text" th:field="*{partie}" value="${partie}" disabled/> 
				</td>
			</tr>
		</tbody>
	</table>
		
	<h3>Combo</h3>
	
	<table>
		<thead>
			<tr>
				<th> </th>
				<th> Init </th>
				<th> Portée </th>
				type de dégâts !!!!!!!!!!!
				<th> Toucher </th>
				<th> Parade ennemie </th>
				<th> Force </th>
				<th> IB att </th>
				<th> </th>
				<th> Défense </th>
				<th> Esquive </th>
				<th> Parade </th>
				<th> Endurance du bouclier </th>
				<th> Endurance du perso </th>
				<th> IB def </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th> Total </th>
				<th> Init </th>
				<th> Portée </th>
				<th> Toucher </th>
				<th> Parade ennemie </th>
				<th> Force </th>
				<th> IB att </th>
				<th> </th>
				<th> Défense </th>
				<th> Esquive </th>
				<th> Parade </th>
				<th> Endurance du bouclier </th>
				<th> Endurance du perso </th>
				<th> IB def </th>
			</tr>
			<tr>
				<th> Carac et PdC </th>
				<th>  </th>
				<th> AGI + PdC + réflexe </th>
				<th> AGI + PdC + toucher ou PER + PdC + toucher </th>
				<th> +0 </th>
				<th> CON </th>
				<th> Vigueur + CON - 10 </th>
				<th> </th>
				<th> AGI + PdC + défense </th>
				<th> AGI + PdC + reflexe </th>
				<th> défense </th>
				<th> +0 </th>
				<th> CON </th>
				<th> Vigueur + CON - 10 </th>
			</tr>
			<tr>
				<th> Equipement (switch) </th>
				<th> Init </th>
				<th> CàC ou Dist </th>
				<th> Toucher </th>
				<th> Parade ennemie </th>
				<th> Force </th>
				<th> IB att </th>
				<th> </th>
				<th> Défense </th>
				<th> Esquive </th>
				<th> Parade </th>
				<th> Endurance du bouclier </th>
				<th> Endurance du perso </th>
				<th> IB def </th>
			</tr>
			<tr>
				<th> Handicaps (nombre) </th>
				<th> -X </th>
				<th>  </th>
				<th> -X </th>
				<th> +0 </th>
				<th> -X </th>
				<th> -X </th>
				<th> </th>
				<th> -X </th>
				<th> -X </th>
				<th> +0 </th>
				<th> -X </th>
				<th> -X </th>
				<th> -X </th>
			</tr>
			<tr>
				<th> Bonus magiques </th>
				<th> Init </th>
				<th>  </th>
				<th> Toucher </th>
				<th> Parade ennemie </th>
				<th> Force </th>
				<th> IB att </th>
				<th> </th>
				<th> Défense </th>
				<th> Esquive </th>
				<th> Parade </th>
				<th> Endurance du bouclier </th>
				<th> Endurance du perso </th>
				<th> IB def </th>
			</tr>
			<tr>
				<th> ATR (switch) </th>
				<th> Init </th>
				<th>  </th>
				<th> Toucher </th>
				<th> Parade ennemie </th>
				<th> Force </th>
				<th> IB att </th>
				<th> </th>
				<th> Défense </th>
				<th> Esquive </th>
				<th> Parade </th>
				<th> Endurance du bouclier </th>
				<th> Endurance du perso </th>
				<th> IB def </th>
			</tr>
			<tr>
				<th> Tactique alonge (taille de l'arme - liste) </th>
				<th> +0 </th>
				<th>  </th>
				<th> -1/-4 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> </th>
				<th> +1/+4 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
			</tr>
			<tr>
				<th> Tactique balayage (switch nb 1-4) </th>
				<th> +0 </th>
				<th>  </th>
				<th> +2/+8 </th>
				<th> +1/+4 </th>
				<th> -1/-4 </th>
				<th> +0 </th>
				<th> </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
			</tr>
			<tr>
				<th> Tactique bousculade </th>
				<th> Init </th>
				<th>  </th>
				<th> Toucher </th>
				<th> Parade ennemie </th>
				<th> Force </th>
				<th> IB att </th>
				<th> </th>
				<th> Défense </th>
				<th> Esquive </th>
				<th> Parade </th>
				<th> Endurance du bouclier </th>
				<th> Endurance du perso </th>
				<th> IB def </th>
			</tr>
			<tr>
				<th> Tactique bourrinage </th>
				<th> +0 </th>
				<th>  </th>
				<th> -1 </th>
				<th> +1 </th>
				<th> +1 </th>
				<th> +0 </th>
				<th> </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
			</tr>
			<tr>
				<th> Tactique coup ciblé (nb) </th>
				<th> +0 </th>
				<th>  </th>
				<th> -1*nb </th>
				<th> +0 </th>
				<th> +1*nb </th>
				<th> +0 </th>
				<th> </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
				<th> +0 </th>
			</tr>
			<tr>
				<th> Autre (écriture libre) </th>
				<th> Init </th>
				<th>  </th>
				<th> Toucher </th>
				<th> Parade ennemie </th>
				<th> Force </th>
				<th> IB att </th>
				<th> </th>
				<th> Défense </th>
				<th> Esquive </th>
				<th> Parade </th>
				<th> Endurance du bouclier </th>
				<th> Endurance du perso </th>
				<th> IB def </th>
			</tr>
		</tbody>
	</table>
	
	<h3>Blessures</h3>
	<p>
		CON de combat : <input type="number" th:field="*{CON}"/>
		Total niveaux : <input type="number" th:value="*{totalDemiNiveauxBlessures()/2.0}" disabled/>
		Total points de chocs : <input type="number" th:value="*{totalPtsDeChocs()}" disabled/>
	</p> 
	<!-- 
	<table>
		<thead>
			<tr>
				<th> Niveaux </th>
				<th> Points de choc </th>
				<th> Gravité (disabled) </th>
				<th> Partie touchée </th>
				<th> <button type="submit" name="addRow">Ajouter une ligne</button> </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row,rowStat : *{blessureList}">
				<th> <input type="number" th:field="*{blessureList[__${rowStat.index}__].niveau}" min="0" step="0.5"/> </th>
				<th> <input type="number" th:field="*{blessureList[__${rowStat.index}__].ptDeChoc}"/> </th>
				<th> <input type="text" th:value="*{blessureList[__${rowStat.index}__].getGravite(CON)}" disabled/> 
					 <input type="hidden" th:field="*{blessureList[__${rowStat.index}__].perso}"/> </th>
				<th> <input type="text" th:field="*{blessureList[__${rowStat.index}__].partieTouchee}"/> </th>
				<th> <button type="submit" name="removeRow" 
                th:value="${rowStat.index}">Supprimer la ligne</button> </th>
			</tr>
		</tbody>
	</table>
	 -->
	<button type="submit" name="actu">Actualiser la fiche</button>
	<h3>Handicaps</h3>
	
	<table>
		<thead>
			<tr>
				<th> Nature du handicap </th>
				<th> H- </th>
				<th> H+ (par CC) </th>
				<th> Total </th>
			</tr>
		</thead>
		<tbody th:with="totFatigue= (*{Hfatigue} > *{CCinfatigable} ? *{Hfatigue} - *{CCinfatigable} : 0) , totMobile= (*{Hmobilite} > *{CCincoercible} ? *{Hmobilite} - *{CCincoercible} : 0) , totSens= (*{Hsens} > *{CCtoujoursPret} ? *{Hsens} - *{CCtoujoursPret} : 0)">
			<tr>
				<th> Blessure ou fatigue </th>
				<th> <input type="number" th:field="*{Hfatigue2}" min="0" step="0.5"/> </th>
				<th> <input type="number" th:field="*{CCinfatigable2}" min="0" step="0.5"/> </th>
				<th> <input type="number" th:value="${totFatigue/2.0}" disabled/> </th>
			</tr>
			<tr>
				<th> Mobilité ou entraves </th>
				<th> <input type="number" th:field="*{Hmobilite2}" min="0" step="0.5"/> </th>
				<th> <input type="number" th:field="*{CCincoercible2}" min="0" step="0.5"/> </th>
				<th> <input type="number" th:value="${totMobile/2.0}" disabled/> </th>
			</tr>
			<tr>
				<th> Sens ou surprise </th>
				<th> <input type="number" th:field="*{Hsens2}" min="0" step="0.5"/> </th>
				<th> <input type="number" th:field="*{CCtoujoursPret2}" min="0" step="0.5"/> </th>
				<th> <input type="number" th:value="${totSens/2.0}" disabled/> </th>
			</tr>
			<tr>
				<th> Total </th>
				<th> - </th>
				<th> - </th>
				<th> <input type="number" th:value="${totFatigue + totMobile + totSens}" disabled/> </th>
			</tr>
		</tbody>
	</table>
	
	<button type="submit" style="float: right;">Enregistrer les modifications</button> 
	
	</form>
	
</body>
</html>