<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Azurhyan : <span th:text="${partie}">partie</span></title>
	<link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
	
	<h1> Voici le combo de <span th:text="${perso.nom}">perso</span> </h1>
	
	<aside style="float: right;">
		<table>
			<tbody>
				<tr>
					<td>
						<form action="#" th:action="@{'/azurhyan/'+${partie}}" method="get">
							<button type="submit">Retourner à la page principale sans enregistrer</button> 
						</form>
					</td>
					<td>
						<form action="#" th:action="@{'/azurhyan/'+${partie}+'/'+${perso.persoId}+'/attaque'}" method="get">
							<button type="submit">Lancer une attaque</button> 
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</aside>
	 
	<form action="#" th:action="@{'/azurhyan/'+${partie}+'/'+${perso.persoId}}" th:object="${perso}" method="post">
	
	<table>
		<tbody>
			<tr>
				<td>
					Nom : <input type="text" th:field="*{nom}"/> 
				</td>
				<td>
					Joueur : <input type="text" th:field="*{joueur}"/> 
				</td>
				<td>
					Partie : <input type="text" th:field="*{partie}" readonly/> 
				</td>
			</tr>
		</tbody>
	</table>
		
	<h3>Combo</h3>
	
	<aside style="float: right;">
		<label>
			PdC combat : 
			<input type="number" th:field="*{pdcCombat}" min="0"/>
		</label>
		<label>
			CC combat à plusieurs : 
			<input type="number" th:field="*{CCcombatPlusieurs}" min="0"/>
		</label>
	</aside>
	
	<table>
		<thead>
			<tr>
				<th> </th>
				<th> Init </th>
				<th> Toucher </th>
				<th> Parade<br/>ennemie </th>
				<th> Force </th>
				<th> IB att </th>
				<th> </th>
				<th> Défense </th>
				<th> Esquive </th>
				<th> Parade </th>
				<th> Endurance<br/>du bouclier </th>
				<th> Endurance<br/>du perso </th>
				<th> IB def </th>
			</tr>
		</thead>
		<tbody>
			<tr th:with="comboTmp = ${combototal}">
				<td> 
					Combo total
					<br/> 	<input type="text" th:value="${comboTmp.CaC ? 'C-à-c' : 'Dist'}" style="width: 3em;" disabled/> /
							<input type="text" th:value="${comboTmp.typeDgts.toString()}" style="width: 3em;" disabled/>
				</td>
				<td> <input type="number" th:value="${comboTmp.init}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.toucher}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.prdEnnemie}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.force}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.IBatt}" disabled/> </td>
				<td> </td>
				<td> <input type="number" th:value="${comboTmp.defense}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.esquive}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.parade}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.endBouclier}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.endPerso}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.IBdef}" disabled/> </td>
			</tr>
			<tr th:with="comboTmp = ${combohandicap}">
				<td> 
					Handicaps
				</td>
				<td> <input type="number" th:value="${comboTmp.init}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.toucher}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.prdEnnemie}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.force}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.IBatt}" disabled/> </td>
				<td> </td>
				<td> <input type="number" th:value="${comboTmp.defense}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.esquive}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.parade}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.endBouclier}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.endPerso}" disabled/> </td>
				<td> <input type="number" th:value="${comboTmp.IBdef}" disabled/> </td>
			</tr>
			<tr th:each="row,rowStat : *{comboList}">
				<td> 
					<input type="text" th:field="*{comboList[__${rowStat.index}__].nom}"/> 
					<div th:if="*{comboList[__${rowStat.index}__].nom == 'Base'}">
						<select th:field="*{comboList[__${rowStat.index}__].CaC}">
							<option value="true" text="C-à-c">C-à-c</option>
							<option value="false" text="Dist">Dist</option>
						</select>
						<select th:field="*{comboList[__${rowStat.index}__].typeDgts}">
							<option value="NOR" text="Nor">Nor</option>
							<option value="CTD" text="Ctd">Ctd</option>
							<option value="PRF" text="Prf">Perf</option>
						</select>
					</div>					
					<div th:unless="*{comboList[__${rowStat.index}__].nom == 'Base'}">
						<input type="hidden" th:field="*{comboList[__${rowStat.index}__].CaC}" value="true"/>
						<input type="hidden" th:field="*{comboList[__${rowStat.index}__].typeDgts}" value="NOR"/>
					</div>
				</td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].init}"/> </td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].toucher}"/> </td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].prdEnnemie}"/> </td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].force}"/> </td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].IBatt}"/> </td>
				<td> </td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].defense}"/> </td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].esquive}"/> </td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].parade}"/> </td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].endBouclier}"/> </td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].endPerso}"/> </td>
				<td> <input type="number" th:field="*{comboList[__${rowStat.index}__].IBdef}"/> </td>
			</tr>
		</tbody>
	</table>
	
	<h3>Blessures</h3>
	<p>
		CON de combat : <input type="number" th:field="*{CON}"/>
		Total niveaux : <input type="number" th:value="*{totalBlessures()}" disabled/>
		Total points de chocs : <input type="number" th:value="*{totalPtsDeChoc()}" disabled/>
	</p> 
	
	<table>
		<thead>
			<tr>
				<th> Niveaux </th>
				<th> Points de choc </th>
				<th> Gravité </th>
				<th> Partie touchée </th>
				<th> <button type="submit" name="addRow">Ajouter une ligne</button> </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row,rowStat : *{blessureList}">
				<td> <input type="number" th:field="*{blessureList[__${rowStat.index}__].niveau}" min="0" step="0.5"/> </td>
				<td> <input type="number" th:field="*{blessureList[__${rowStat.index}__].ptDeChoc}"/> </td>
				<td> <input type="text" th:value="${perso.getGravite(row)}" disabled/> </td>
				<td> <input type="text" th:field="*{blessureList[__${rowStat.index}__].partieTouchee}"/> </td>
				<td> <button type="submit" name="removeRow" th:value="${rowStat.index}">Supprimer la ligne</button> </td>
			</tr>
		</tbody>
	</table>
	
	<button type="submit" name="actu">Actualiser la fiche</button>
	<h3>Handicaps</h3>
	
	<table>
		<thead>
			<tr>
				<th> Nature du handicap </th>
				<th> H- </th>
				<th> H+ (par CC) </th>
				<th> Total </th>
			</tr>
		</thead>
		<tbody th:with="totFatigue= (*{Hfatigue} > *{CCinfatigable} ? *{Hfatigue} - *{CCinfatigable} : 0) , totMobile= (*{Hmobilite} > *{CCincoercible} ? *{Hmobilite} - *{CCincoercible} : 0) , totSens= (*{Hsens} > *{CCtoujoursPret} ? *{Hsens} - *{CCtoujoursPret} : 0)">
			<tr>
				<td> Blessure ou fatigue </td>
				<td> <input type="number" th:field="*{Hfatigue}" min="0" step="0.5"/> </td>
				<td> <input type="number" th:field="*{CCinfatigable}" min="0" step="0.5"/> </td>
				<td> <input type="number" th:value="${totFatigue}" disabled/> </td>
			</tr>
			<tr>
				<td> Mobilité ou entraves </td>
				<td> <input type="number" th:field="*{Hmobilite}" min="0" step="0.5"/> </td>
				<td> <input type="number" th:field="*{CCincoercible}" min="0" step="0.5"/> </td>
				<td> <input type="number" th:value="${totMobile}" disabled/> </td>
			</tr>
			<tr>
				<td> Sens ou surprise </td>
				<td> <input type="number" th:field="*{Hsens}" min="0" step="0.5"/> </td>
				<td> <input type="number" th:field="*{CCtoujoursPret}" min="0" step="0.5"/> </td>
				<td> <input type="number" th:value="${totSens}" disabled/> </td>
			</tr>
			<tr>
				<th> Total </th>
				<th> - </th>
				<th> - </th>
				<th> <input type="number" th:value="${(totFatigue + totMobile + totSens)}" disabled/> </th>
			</tr>
		</tbody>
	</table>
	
	<button type="submit" style="float: right;">Enregistrer les modifications</button> 
	
	</form>
	
</body>
</html>