<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Azurhyan : <span th:text="${partie}">partie</span></title>
</head>
<body>
	
	<h1> Liste des personnages de <span th:text="${partie}">partie</span> : </h1>
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}+'/visibilitePerso'}" th:object="${persosVisibles}" method="post">

		<table>
			<thead>
				<tr>
					<th> Visible ? </th>
					<th> Perso </th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			    <tr th:each="perso, itemStat : *{persoList}">
                    <td>
                    	<input type="hidden" th:field="*{persoList[__${itemStat.index}__].id}"/>
                    	<input type="hidden" th:field="*{persoList[__${itemStat.index}__].nom}"/>
                    	<input type="hidden" th:field="*{persoList[__${itemStat.index}__].init}"/>
                    	<input type="checkbox" th:field="*{persoList[__${itemStat.index}__].visible}" />
                    </td>
                    <td>
                    	<span th:text="*{persoList[__${itemStat.index}__].nom}"> nom </span>
                    </td>
                    <td>
						<form action="#" th:action="@{'/azurhyan/'+${partie}+'/'+${perso.id}}" method="get">
							<button type="submit">Voir combo</button>
						</form>
					</td>
                    <td> <button type="submit" name="dupliquer" th:value="${perso.id}">Dupliquer le perso</button> </td>
                </tr>
			</tbody>
		</table>
		
		<!-- 
		<ul>
  <li th:each="perso : *{persoList}">
    <input type="checkbox" th:field="*{features}" th:value="${feat}" />
    <label th:for="${#ids.prev('features')}" 
           th:text="#{${'seedstarter.feature.' + feat}}">Heating</label>
  </li>
</ul>
	-->
		<button type="submit">Enregistrer les modifications</button> 
	</form>	
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}}" method="get">
		<button type="submit">Retourner sans enregistrer</button> 
	</form>	
		
</body>
</html>