<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Azurhyan : <span th:remove="tag" th:text="${partie}">partie</span></title>
	<link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}}" method="get">
		<button type="submit"> &#127968; </button> 
	</form>
	
	<h1> Liste des personnages de <span th:text="${partie}">partie</span> : </h1>
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}+'/visibilitePerso'}" th:object="${persosVisibles}" method="post">

		<table>
			<thead>
				<tr>
					<th> Visible ? </th>
					<th> Perso </th>
					<th></th>
					<th>  </th>
					<th> Déf </th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			    <tr th:each="perso, itemStat : *{persoList}">
                    <td>
                    	<input type="hidden" th:field="*{persoList[__${itemStat.index}__].id}"/>
                    	<input type="hidden" th:field="*{persoList[__${itemStat.index}__].nom}"/>
                    	<input type="hidden" th:field="*{persoList[__${itemStat.index}__].init}"/>
                    	<input type="checkbox" th:field="*{persoList[__${itemStat.index}__].visible}" />
                    </td>
                    <td>
                    	<span th:text="*{persoList[__${itemStat.index}__].nom}"> nom </span>
                    </td>
                    <td>
						<button type="submit" th:formaction="@{'/azurhyan/'+${partie}+'/'+${perso.id}}" formmethod="get">Voir combo</button>
					</td>
					<td> <select th:field="*{persoList[__${itemStat.index}__].incapacite}">
							<option value="0"> <span style="color:green;font-weight: bolder;"> &xcirc; </span>Peut agir</option>
							<option value="1"> <span style="color:grey;font-weight: bolder;"> &check; </span>Déjà agit</option>
							<option value="2"> <span style="color:orange;font-weight: bolder;"> &olcross; </span>Action sautée</option>
							<option value="3"> <span style="color:red;font-weight: bolder;"> &cross; </span>Incapacité</option>
						</select> </td>
					<td> <input type="number" th:field="*{persoList[__${itemStat.index}__].deDef}" min="0"/> </td>
                    <td> <button type="submit" name="dupliquer" th:value="${perso.id}">Dupliquer le perso</button> </td>
                </tr>
			</tbody>
		</table>
		
		<button type="submit">Enregistrer les modifications</button> 
	</form>	
	
	<form action="#" th:action="@{/azurhyan/{partie}/nouveauPerso(partie=${partie})}" method="get">
		</br>
		<button type="submit">Créer un nouveau perso</button> 
	</form>
	
	
	<form action="#" th:action="@{'/azurhyan/'+${partie}}" method="get">
		</br>
		<button type="submit">Retourner sans enregistrer</button> 
	</form>	
		
</body>
</html>